@model IEnumerable<Cities_States.Models.BranchOffice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <p>
                <a href="@Url.Action("DownloadCompleteClientList", "BranchOffices")" class="btn btn-success mr-2">Download Complete Client List</a>
                <button id="downloadFilteredClientList" class="btn btn-success">Download Filtered Client List</button>
            </p>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end align-items-center">
                <div class="flex-grow-1 mr-2">
                    @Html.DropDownList("ClientID", ViewBag.Clients as SelectList, "Select Client", new { @class = "form-control", id = "clientDropdown" })
                </div>
                <div>
                    <a href="@Url.Action("Create")" class="btn btn-primary btn-block">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M7 1.5a.5.5 0 0 1 .5.5V7h5.5a.5.5 0 0 1 0 1H7v5.5a.5.5 0 0 1-1 0V8H.5a.5.5 0 0 1 0-1H6V2a.5.5 0 0 1 .5-.5z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<table id="branchTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Client Name</th>
            <th>Client ID</th>
            <th>District</th>
            @*<th>Branch Address</th>*@
            <th>Branch Code</th>
            <th>CLRA License Expiry</th>
            <th>CLRA License Applicable</th>
            <th>CLRA License Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="branchOfficeList">
        @Html.Partial("_BranchOfficeList", Model)
    </tbody>
</table>

@section scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#branchTable').DataTable();

            $('#clientDropdown').change(function () {
                var clientId = $(this).val();
                var url = '@Url.Action("Index", "BranchOffices")' + '?clientId=' + clientId;
                window.location.href = url;
            });

            $('#downloadFilteredClientList').click(function () {
                var clientId = $('#clientDropdown').val();
                if (clientId) {
                    var url = '@Url.Action("DownloadFilteredClientList", "BranchOffices")' + '?clientId=' + clientId;
                    window.location.href = url;
                } else {
                    alert("Please select a client to download the filtered list.");
                }
            });
        });
    </script>
}
